
<div class="ch"></div>
<div class="footer">
	<div class="container" style="overflow: hidden;">
		<div class="foot_l">
			<ul>
				<li><span class="lable">合作伙伴：</span><span class="huoban">中国游乐园设备网</span><span class="huoban">中国网络电视台</span></li>
				<li><span class="lable">版权所有：</span>中国游乐协会有限公司</li>
				<li><span class="lable">备案号：</span>京ICP证000000号</li>
				<li><span class="lable">联系电话：</span>010-84187577</li>
			</ul>
		</div>
		<div class="foot_r">
			<ul>
				<li><p>官方APP</p><img src="{APP_PATH}statics/default/images/index_42.jpg" width="132" height="132" alt=""></li>
				<li><p>官方微信</p><img src="{APP_PATH}statics/default/images/index_42.jpg" width="132" height="132" alt=""></li>
				<li><p>官方微博</p><img src="{APP_PATH}statics/default/images/index_42.jpg" width="132" height="132" alt=""></li>
			</ul>
		</div>

	</div>
	<div class="foot_b">[法律声明] - 京ICP证0000000号-1 © 2017 SDJJSKLDJ</div>
</div>


</body>
</html>