<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="{APP_PATH}statics/default/css/style.css">
	<link rel="stylesheet" href="{APP_PATH}statics/default/css/flexslider.css">
	<script type="text/javascript" src="{APP_PATH}statics/default/js/jquery-1.11.0.min.js"></script>
	<!-- <script type="text/javascript" src="js/PIE.js"></script> -->

</head>
<body>

<div class="jq22-container">
	<div class="flexslider">
		<ul class="slides">
			<li style="background:url({APP_PATH}statics/default/images/banner.jpg) 50% 0 no-repeat;"></li>
			<li style="background:url({APP_PATH}statics/default/images/img2.png) 50% 0 no-repeat;"></li>
			<li style="background:url({APP_PATH}statics/default/images/img3.png) 50% 0 no-repeat;"></li>
			<li style="background:url({APP_PATH}statics/default/images/img4.png) 50% 0 no-repeat;"></li>
			<li style="background:url({APP_PATH}statics/default/images/img5.png) 50% 0 no-repeat;"></li>
		</ul>
	</div>
</div>

<div id="top">
	<div class="container">
		<div class="logo"><a href="/"><img src="{APP_PATH}statics/default/images/logo.jpg" alt=""></a></div>
		<div class="search">
			<form action="">
				<input type="text" name="keyword" placeholder="搜索">
			</form>
		</div>
	</div>
</div>
<div class="container">
	<div class="menu">
		<ul>
			<li><a href="">关于协会</a></li>
			<li><a href="">展会</a></li>
			<li><a href="">峰会论坛</a></li>
			<li><a href="">中国游乐APP</a></li>
			<li><a href="">摩天奖</a></li>
			<li><a href="">新闻中心</a></li>
			<li><a href="">加入协会</a></li>
		</ul>
	</div>
</div>
<div class="index_heng"></div>